/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.m-gallery{
	width: calc(100% - 100px);
	display: flex;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
}
.m-gallery img{
	width: 70px;
	margin-right: 7px;
}
.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.filters{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	
}
.green{
	border: 1px solid #1D6154;
	border-radius : 60px;
	color: #1D6154;
	background: #fff;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	padding: 9px 30px;
	margin-right: 10px;
}
.white{
	border: 1px solid #1D6154;
	border-radius : 60px;
	color:  #FFFFFF;
	background: #1D6154;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	padding: 9px 30px;
	margin-right: 10px;
}
.all{
	border: 1px solid #1D6154;
	border-radius : 60px;
	color: #1D6154;
	background: #fff;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	padding: 9px 30px;
	margin-right: 10px;
}	

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
#login-page form{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
	
}
.passiv{
	display: none;
}
#login-page h1{
	color: #1D6154;
	margin-bottom: 40px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
}
#login-page label{
	margin-bottom: 7px;
	
	
}
.userpass-label{
	display: flex;
	flex-direction: column;
}
#login-page input{
	margin-bottom: 30px;
	width: 380px;
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
ul img{
	height: 19px;
	width: 19px;

}
#send{
	width: 179px ;
}
.sub-button{
	font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
	height: 50px;
}

nav li:active{

	font-weight: bolder;
	
}

.modal-container{
	display: none; /* masquer la modal par défaut */
	position: fixed; /* positionner la modal */
	z-index: 1; /* placer la modal au-dessus du reste de la page */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* permettre le défilement */
	background-color: rgba(0,0,0,0.6); /* fondu en arrière-plan */
}
.modal-content{
	
	width: 95%;
	max-width: 500px;
	min-width: 300px;
	padding: 30px;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#content-one{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.modal-add{
	width: 95%;
	max-width: 500px;
	min-width: 300px;
	padding: 30px;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	align-items: center;
	flex-direction: column;
}

.modal-add p {
	font-size: 26px;
}
.modal-add input{
	height: 50px;
	width: 420px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.modal-add select{
	height: 50px;
	width: 420px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.modal-add label{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	margin-bottom: 7px;
}


.modal p {
	font-size: 26px;
	margin-bottom:46px ;
}
.add-photo{
	background: #E8F1F7;
	border-radius: 3px;
	width: 420px;
	height: 169px;
	margin-top: 36px ;
	
}
.add-photo p{
	font-family: Work Sans;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: center;

}
.add-photo-flex{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.addpic{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	padding: 10px;
	width: 237px;
	text-align: center;
	border-radius: 60px ;
	
}
.pic-file-label{
	background: #CBD6DC;
	border: 1px;
	padding: 10px 20px;
	border-radius: 50px;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	color: #306685;

}

.validate{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #a7a7a7;
	margin : 2em auto ;
	padding: 10px;
	width: 237px;
	text-align: center;
	border-radius: 60px ;
}
.suppgal{
	border: none;
	color: #D65353;
	font-size: 14px;
}

.close-modal-trigger{
	position: absolute;
	top: 26px;
	right: 30px;
	border: none;
	width: 24px;
	background: #fff;


}
.m-gallery button {
	border: none;
	position: relative;
	
	right: 35px;
	bottom: 77px;
	background-color: #000000;
	border-radius: 2px;
	width: 23px;
}
.m-gallery button img{
	width: 9px;
	height: 9px;
	
}
#return{
	position : absolute;
	top: 26px;
	left: 30px;
	background: #fff;
	width: 21px;
}

.login-navbar{

	display: flex;
	justify-content: center;
	background-color: black;
	height: 59px;
}
.login-navbar p{
	
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
	margin-right:20px ;
	padding-top: 20px;
}
.login-navbar img {
	width: 16px;
	margin-right: 10px;
}
.changes-button{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000000;
	background: #FFFFFF;
	border-radius: 60px;
	width: 216px;
	height: 38px;
	margin-top: 10px;
}
header i{
	width: 16px;
	height: 16px;
}

#introduction figure {
	display: flex;
	flex-direction: column;
	
}

.projects-login{
	display: flex;
	justify-content: center;
	align-items: center;
}
.align-title {
	display: flex;
	align-items: center;
	margin-left: 57px;
	margin-bottom: 30px;
}
.align-under{
	display: flex;
	margin-left: 45px;
	margin-top: 10px;

}
.projects-login img {
	width: 15px;
	background-color: #000000;
	color: white;
}

.show{
	display: flex;
}
.none{
	display: none;
}

.modalbutton{
	border: none;
	font-family: Work Sans;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;

background-color: #fff;
}

.modal-add button {
	border: none;
}
.modal-add button img {
	width: 21px;
	
}